

 /* 색상 클래스 */
.red {background-color: var(--red);}
.black{background-color: var(--black);}
.yellow{background-color: var(--yellow);}
.orange {background-color: var(--orange);}
.beige { background-color: var(--beige);}
.brown { background-color: var(--brown); }
.sage-green { background-color: var(--sage-green);}
 
/* 도형 */
.shape {
  display: grid;
  z-index: 1;
}
.point-circle {
  width: var(--size-1);
  height: var(--size-1);
  border-radius: 0 50% 50% 50%;
}
.quarter-circle {
  width: var(--size-1);
  height: var(--size-1);
  border-top-right-radius: 100%;
}
.circle {
  width: var(--size-1);
  height: var(--size-1);
  border-radius: 50%;
}

/* 상단 모형 */
.orange.point-circle {
  position: relative;
}
.orange.point-circle::before {
  content: '';
  background: var(--bg-color);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.red.line-round-rec {
  width: var(--size-2);
  height: var(--size-1);
  border: 2px solid var(--red);
  border-radius: calc( var(--size-1) / 2);
  background: transparent;
  position: relative;
}
.red.line-round-rec::before {
  content: '';
  background-color: var(--red);
  border-top-left-radius: var(--size-1);
  border-bottom-left-radius: var(--size-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: calc(var(--size-1) * 0.93 / 2);
  height: calc(var(--size-1) * 0.93);
}

.img-point-circle {
  width: var(--size-2);
  height: var(--size-2);
  border-radius: 50% 0 50% 50%;
}

.img-point-circle img {
  border-radius: inherit;
}

.orange.quarter-circle {
  border-radius:100% 0 0 0;
}

/* 중간 모형 */
.black.quarter-circle,
.beige.quarter-circle,
.brown.quarter-circle {
  border-radius: 0 0 0 100%;
}

.line-half-circle {
  width: var(--size-2);
  height: var(--size-1);
  border-radius: 0 0 var(--size-1) var(--size-1);
  position: relative;
}

.line-half-circle::before {
  content: '';
  width: 50%;
  height: 50%;
  background-color: var(--bg-color);
  border-radius: 0 0 calc(var(--size-1) / 2) calc(var(--size-1) / 2);
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.red.round-rec {
  height: var(--size-2);
  width: var(--size-1);
  border: 40px solid var(--red);
  border-radius: calc( var(--size-1) / 2);
  background-color: transparent;
}

/* 하단 모형 */
.line-circle {
  border: 2px solid var(--red);
  border-radius: 50%;
  width: var(--size-1);
  height: var(--size-1);
  background-color: transparent;
}

.line-circle::before {
  border: 1px solid var(--red);
  width: calc((--size-1) * 0.42);
  height: calc((--size-1) * 0.42);
  border-radius: 50%;
  
}

.sage-green.round-rec {
  width: var(--size-2);
  height: var(--size-1);
  border-radius:calc( var(--size-1) / 2);
  position: relative;
}
.sage-green.round-rec::before {
  content: '';
  background-color: white;
  border-top-left-radius: var(--size-1);
  border-bottom-left-radius: var(--size-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: calc(var(--size-1) * 0.93 / 2);
  height: calc(var(--size-1) * 0.93);
}

.half-circle {
  width: calc(var(--size-1) / 2);
  height: var(--size-1);
  border-radius: var(--size-1) 0 0 var(--size-1);
}